extends layout.pug
block body
  header.header.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#nav")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="http://"+serverDomain) 一个人的角落
      .collapse.navbar-collapse#nav
        ul.nav.navbar-nav.visible-xs
          li.active
            a(href="javascript:;") 运行信息
          li.dropdown
            a.dropdown-toggle(href="javascript:;") 页面管理
            ul.dropdown-menu
              li
                a(href="javascript:;") 所有页面
              li
                a(href="javascript:;") 添加页面
          li.dropdown
            a.dropdown-toggle(href="javascript:;") 文章管理
            ul.dropdown-menu
              li
                a(href="javascript:;") 添加文章
          li
            a(href="javascript:;") 评论管理
          li.dropdown
            a.dropdown-toggle(href="javascript:;") 资源管理
            ul.dropdown-menu
              li
                a(href="javascript:;") 所有资源
              li
                a(href="javascript:;") 添加资源
          li
            a(href="javascript:;") 系统设置

  .main.container-fluid
    .row
      .col-sm-2.col-lg-1.hidden-xs.main_leftCt
        h1 Hi,#[strong admin], welcome to the Admin home!
          a(href="/logout") 退出登录
        ul.list-unstyled.left_Menu
          li
            a(href="javascript:;") 运行信息
          li
            a(href="javascript:;") 页面管理
            ul.list-unstyled
              li
                a(href="javascript:;") 所有页面
              li
                a(href="javascript:;") 添加页面
          li
            a(href="javascript:;") 文章管理
            ul.list-unstyled
              li
                a(href="javascript:;") 所有文章
              li
                a(href="/addBlog") 添加文章
          li
            a(href="javascript:;") 评论管理
          li
            a(href="javascript:;") 资源管理
            ul.list-unstyled
              li
                a(href="javascript:;") 所有资源
              li
                a(href="javascript:;") 添加资源
          li
            a(href="javascript:;") 系统设置

      .col-sm-10.col-lg-11.main_rightCt
        .welcome.visible-xs
          h1 Hi,#[strong admin], welcome to the Admin home!
            a(href="/logout") 退出登录


