.asideContent
  .aside_listContent.myInfo
    img(src=staticUrl+"/img/info.png")
    .infoCt
      p 落雪无痕
      p Email：lyswhut@qq.com
      p Github：https://github.com/stsky

  .aside_listContent.calendar
    link(rel="stylesheet" href=staticUrl+"/vendor/zabuto_calendar.min.css")
    script(src=staticUrl+"/vendor/zabuto_calendar.js")
    script.
      $(document).ready(function () {
          $(".calendar").zabuto_calendar();
      });
  .aside_listContent.blogTag
    h3 文章标签
    .tagCt
      each tag in blogTags
        a(href="javascript:;") #{tag}
  .aside_listContent.blogHistory
    h3 博文归档
    .historyCt
      a(href="javascript:;") 2017年3月
      a(href="javascript:;") 2017年3月
      a(href="javascript:;") 2017年3月
      a(href="javascript:;") 2017年3月
  .aside_listContent.newComment
    h3 最新评论
    .newConnentCt
      br
      br
      br
      br
      br
      br
      //- a(href="javascript:;") 2017年3月
      //- a(href="javascript:;") 2017年3月
      //- a(href="javascript:;") 2017年3月
      //- a(href="javascript:;") 2017年3月