.asideContent
  .aside_listContent.myInfo
    img(src=staticUrl+"/img/info.png")
    .infoCt
      p 落雪无痕
      p Email：lyswhut@qq.com
      p Github：https://github.com/stsky

  .aside_listContent.calendar
    script(src=staticUrl+"/vendor/zabuto_calendar.js")
    script.
      $(document).ready(function () {
          $(".calendar").zabuto_calendar({
          ajax: {
            url: '/getInfo',
            modal: true
          }
          });
      });
  .aside_listContent.blogTag
    h3 文章标签
    .tagCt
      each tag in blogTags
        a(href="/?tag="+ tag) #{tag}
  .aside_listContent.blogHistory
    h3 博文归档
    .historyCt
      each time in blogTimes
        a(href="/?time="+ time._id data-toggle="tooltip" title="本月更新了"+time.count+"篇文章") #{time._id}
  .aside_listContent.newComment
    h3 最新评论
    .newConnentCt
      br
      br
      br
      br
      br
      br
      //- a(href="javascript:;") 2017年3月
      //- a(href="javascript:;") 2017年3月
      //- a(href="javascript:;") 2017年3月
      //- a(href="javascript:;") 2017年3月