.asideContent
  .aside_listContent.myInfo
    = '个人信息'
  .aside_listContent.calendar
    = '日历'
  .aside_listContent.blogTag
    = '博文分类'
  .aside_listContent.blogHistory
    = '博文归档'
  .aside_listContent.newComment
    = '最新评论'