.blogListContent
  .notice list
  ul.list-unstyled.blogList
    li
      .listContent
        h2
          a(href="/t") 标题1标题1标题1标题1标题1标题1
        .blogInfos
          time.blogInfo.blogTime 2017-2-17
          span.blogInfo.blogTag web前端
          span.blogInfo.blogview 100人浏览过
          span.blogInfo.blogcomment 10条评论
        .blogText
          p.
            标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1
    li
      .listContent
        h2
          a(href="/t") 标题1标题1标题1标题1标题1标题1
        .blogInfos
          time.blogInfo.blogTime 2017-2-17
          span.blogInfo.blogTag web前端
          span.blogInfo.blogview 100人浏览过
          span.blogInfo.blogcomment 10条评论
        .blogText
          p.
            标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1
    li
      .listContent
        h2
          a(href="/t") 标题1标题1标题1标题1标题1标题1
        .blogInfos
          time.blogInfo.blogTime 2017-2-17
          span.blogInfo.blogTag web前端
          span.blogInfo.blogview 100人浏览过
          span.blogInfo.blogcomment 10条评论
        .blogText
          p.
            标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1
    li
      .listContent
        h2
          a(href="/t") 标题1标题1标题1标题1标题1标题1
        .blogInfos
          time.blogInfo.blogTime 2017-2-17
          span.blogInfo.blogTag web前端
          span.blogInfo.blogview 100人浏览过
          span.blogInfo.blogcomment 10条评论
        .blogText
          p.
            标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1
    li
      .listContent
        h2
          a(href="/t") 标题1标题1标题1标题1标题1标题1
        .blogInfos
          time.blogInfo.blogTime 2017-2-17
          span.blogInfo.blogTag web前端
          span.blogInfo.blogview 100人浏览过
          span.blogInfo.blogcomment 10条评论
        .blogText
          p.
            标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1
    li
      .listContent
        h2
          a(href="/t") 标题1标题1标题1标题1标题1标题1
        .blogInfos
          time.blogInfo.blogTime 2017-2-17
          span.blogInfo.blogTag web前端
          span.blogInfo.blogview 100人浏览过
          span.blogInfo.blogcomment 10条评论
        .blogText
          p.
            标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1
  .paging
    a(href="#") 上一页
    a.active(href="#") 1
    a(href="#") 2
    a(href="#") 3
    a(href="#") 4
    a(href="#") 5
    a(href="#") 下一页
  script.
    $('.paging .active').click(function(){return false;});