body {
  >.home_header {
    position: relative;
    height: 400px;
    background: #fff;
    // box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  }
  // >.main {
  //   background: static('/img/background.png');
  //   z-index: 1;
  // }
}

