// blogList
.blogListContent {
  .border;
  padding: 0;
  .notice {
    font-size: 24px;
    margin: 0;
    padding: 5px;
    background: #fff;
    .border_bottom;
  }
  .blogList {
    // &:last-child {
    //   margin-bottom: 0;
    // }
    margin-bottom: 0;
  }
  .listContent {
    height: 200px;
    .border_bottom;
    background: #fff;
    padding: 5px 5px;
    overflow: hidden;
    &:hover {
      background: #FDFDF0;
    }

    h2 {
      padding: 8px 0;
      margin: 0;
      font-size: 18px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .blogInfos {
      font-size: 14px;
      margin-bottom: 5px;
      color: #888;
    }
    .blogInfo {
      margin-left: 5px;
      padding-right: 10px;
    }

    .blogText {
      height: 115px;
      overflow: hidden;
      text-indent: 28px;
    }
  }
  .paging {
    background: #fff;
    padding: 5px 5px 0;
    .clearfix();
    .pagination {
      margin: 0;
    }
  }
}

// blogText
.blogTextContent {
  .border;
  padding: 0;
  .notice {
    font-size: 18px;
    margin: 0;
    padding: 5px;
    background: #fff;
    .border_bottom;
  }
  .textContent {
    background: #fff;
    padding: 5px 5px;

    h2 {
      padding: 8px 0;
      margin: 0;
      font-size: 22px;
      text-align: center;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .blogInfos {
      text-align: center;
      font-size: 14px;
      padding-bottom: 5px;
      color: #888;
    }
    .blogInfo {
      margin-left: 5px;
      padding-right: 10px;
    }
    .blogText {
      min-height: 500px;
      padding: 10px 0 8px;
      p {
        text-indent: @fontSize * 2;
      }
    }
    .blogFooter {
      padding: 5px;
      .border_bottom;
      span {
        word-wrap:break-word;
      }
    }
    .blogcommentCt {
      margin-bottom: 10px;
      .commentInfo {
        padding: 10px 5px 8px;
        // margin-bottom: -5px;
        .border_bottom;
      }
    }

  }
  .paging {
    background: #fff;
    padding: 5px 5px 0;
    .clearfix();
    .border_bottom;
    .pagination {
      margin: 0;
    }
  }
}

// comment
.comment {
  padding: 9px 4px 0;
  background: #fff;
  .border_bottom;
  .transition_ease_slow;
  .comment {
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }
  .author {
    .clearfix();
    img {
      float: left;
      margin-right: 10px;
    }
    color: #888;
    font-size: 14px;
    strong {
      color: #555;
    }

    a {
      color: #888;
      &:link  {
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
        color: #444;
      }
    }

    .reply {
      color: #aaa;
      margin-left: 10px;
      cursor: pointer;
      &:hover {
        color: #888;
      }
    }
    // time {
    //   font-family: Optima,Georgia, "Helvetica Neue";
    // }
    .ding {
      color: #aaa;
      margin-left: 10px;
      cursor: pointer;
      &:hover {
        color: #888;
      }
    }
    .dingNum {
      margin-left: 2px;
      font-size: 14px;
      font-family: Optima,Georgia, "Helvetica Neue";
    }
  }
  p {
    margin-top: 7px;
    margin-bottom: 10px;
    word-wrap:break-word;
    color: #555;
  }

  .addCommentCt {
    height: 0;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
    padding: 0 5px;
    border: 1px solid #F3F3BD;
    border-bottom: none;
    >span {
      .transition_ease_slow;
      display: block;
      font-size: 24px;
      text-align: center;
      border-bottom: 1px dashed #BFBEBA;
      height: 16px;
      color: #B9B9BD;
      line-height: 5px;
      cursor: pointer;
      &:hover {
        background: #F5F5BB;
      }
    }
    textarea {
      max-width: 100%;
      max-width: 100%;
      resize:none;
    }
  }
}
.commentBg {
  background: #FFFBD9;
}
.noComment {
  padding: 20px 0;
}

.addCommentCt {
  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  .input-group {
    margin-bottom: 5px;
  }
  textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 5px;
    border:1px solid #ccc;
  }
  button {
    width: 100%;
  }

}