extends layout.pug
block body
  header.essay_header
    nav.navbar.navbar-default
      a.navbar-brand(href="/") this is blog page!
      .navbar-header.visible-xs
        span.navbar-toggle.collapsed(data-toggle="collapse" data-target="#nav" aria-expanded="false")
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .navbar-collapse.collapse#nav
        include includes/nav.pug
        form.navbar-form.navbar-right
          input(type="hidden" name="_csrf" value=_csrfToken)
          .form-group
            input.form-control.search(type="text" placeholder="搜索文章")
            button.btn.btn-default.submit(type="submit" disabled) 提交
  .main.container-fluid
    .row
      .col-md-8.col-lg-9.main_leftCt
        include includes/blogText.pug
      .col-md-4.col-lg-3.hidden-xs.hidden-sm.main_rightCt
        include includes/aside.pug