footer.footer.container-fluid
  .row
    .col-sm-7.col-md-6.contentLeft
      p Powered by Node.js
      p Copyright &copy 2017 #{serverDomain}. All Rights
    .col-sm-5.col-md-6.hidden-xs.contentRight
      p #{time}
      p siteMap 网站地图 友情链接